{% extends "base.html" %}

{% block content %}
<div class="navigation"><a href="./">{% trans %}Photo Gallery Index{% endtrans %}</a> &gt; {{ gallery.name }}</div>

<!-- listing galleries-->

<p class="bigthumbnails">
{% for picture in pictures|sort(attribute="filename") %}

  {% if picture.orientation == "portrait" %}
  <a class="portrait" title="Photo {{ loop.index }}, 0 Comments" href="?galerie={{ gallery.folder_name }}&photo={{ picture.filename }}">
    <img height="80" width="53" alt="photo No. {{ loop.index }}" src="../galleries/{{ picture.thumb }}" />
  </a>
  {% else %}
  <a title="Photo {{ loop.index }}, 0 Comments" href="?galerie={{ gallery.folder_name }}&photo={{ picture.filename }}">
    <img height="53" width="80" alt="photo No. {{ loop.index }}" src="../galleries/{{ picture.thumb }}" />
  </a>
  {% endif %}

{% endfor %}


<div id="info">
  <p>
    <span class="key">{% trans %}Author: {% endtrans %}</span>
    <span class="value">{{ gallery.author }}</span>
  </p>
</div>

<p class="archives"> </p>

{% endblock %}
