{% extends "base.html" %}

{% block content %}

<!-- thumbroll -->
<div class="thumbroll">
  {% if thumbs %}
  <a id="minus" href="{{ url_for('GalleryDetailView:get', gallery=gallery.folder_name, photo=current.filename) }}"></a> :
  {% for thumb in thumbs %}
  <a href="{{ url_for('GalleryDetailView:get', gallery=gallery.folder_name, photo=current.filename) }}?show_thumbs=yes" title="Photo">
    <img class="thumb" src="{{ url_for('media', path=thumb.thumb) }}" alt="photo No. {{ loop.index }}"
    {%- if thumb.orientation == "portrait" %}
    width="13" height="20"
    {% else %}
    width="20" height="13"
    {% endif %} /></a>
{% endfor %}
{% else %}
  <a id="plus" href="{{ url_for('GalleryDetailView:get', gallery=gallery.folder_name, photo=current.filename) }}?show_thumbs=yes" title="Show Thumbnail Navigation"></a>
{% endif %}
</div>

<div id="image" style="height: {{ current.height + 10 }}px">
  <img id="preview" height="{{ current.height }}" width="{{ current.width }}" alt="" src="{{ url_for('media', path=current.lq) }}" />

  {% if prev %}
  <div class="prevthumb">
    <a href="{{ url_for('GalleryDetailView:get', gallery=gallery.folder_name, photo=prev.filename) }}">
      {% if prev.orientation == "portrait" %}
      <img height="80" width="53" src="{{ url_for('media', path=prev.thumb) }}" alt="Previous"/>
      {% else %}
      <img height="53" width="80" src="{{ url_for('media', path=prev.thumb) }}" alt="Previous"/>
      {% endif %}
      <br />
      Previous
    </a>
  </div>
  {% endif %}

  {% if next %}
  <div class="nextthumb">
    <a href="{{ url_for('GalleryDetailView:get', gallery=gallery.folder_name, photo=next.filename) }}">
      {% if next.orientation == "portrait" %}
      <img height="80" width="53" src="{{ url_for('media', path=next.thumb) }}" alt="Next"/>
      {% else %}
      <img height="53" width="80" src="{{ url_for('media', path=next.thumb) }}" alt="Next"/>
      {% endif %}
      <br />
      Next
    </a>
  </div>
  {% endif %}
</div>

{% if current.exif %}
<div id="exif_table" style="display: block;">
  <table class="exif" border="0">
    {% for key, value in current.exif.items() %}
    <tr>
      <td align="right">{{ value[0] }}</td>
      <td><b>{{ value[1] }}</b></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

<div class="comment">
  <span>Photo {{ index }}</span>
  <div id="log">
    {% trans views=current.views %}This image has been viewed <strong>{{ views }}</strong> times.{% endtrans %}
  </div>

  {% if current.mq or current.hq %}
  <div id="mqhq">
    {% if current.mq %}
    <a href="{{ url_for('media', path=current.mq) }}">MQ</a>
    {% endif %}
    {% if current.hq %}
    <a href="{{ url_for('media', path=current.hq) }}">HQ</a>
    {% endif %}
  </div>
  {% endif %}

  <div id="comment_block">
    <div id="showhideform">
      <strong>{% trans %}Post a Comment{% endtrans %}</strong>:
      <span class="comment_toggle">
        [&nbsp;
        <a href="javascript:toggle_comment()">
          <span id="showlink" style="">{% trans %}Show Form{% endtrans %}</span>
          <span id="hidelink" style="display: none;">{% trans %}Hide Form{% endtrans %}</span></a>
        &nbsp;]
      </span>
    </div>

    <div id="comment_form" style="display: none;">
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
          <div class="label"><a title="Enter your name." href="#">{{ form.username.label }}</a></div>
          <div class="control">{{ form.username(size=30) }}</div>
        </div>
        <div class="row">
          <div class="label"><a title="Should the browser remember your name?" href="#">{{ form.remember.label }}</a></div>
          <div class="control">{{ form.remember() }}</div>
        </div>
        <div class="row"><div class="control">{{ form.commentspamchecksum.object_data }}</div></div>
        <div class="row">
          <div class="label"><a title="Enter the number shown above." href="#">{{ form.commentspamcheck.label }}</a></div>
          <div class="control">{{ form.commentspamcheck(size=30) }}</div>
        </div>
        <div class="row">
          <div class="label"><a title="Allowed HTML tags: a,b,i,ul,li,blockquote,br." href="#">{{ form.comment.label }}</a></div>
          <div class="control">{{ form.comment(cols=40, rows=10) }}</div>
        </div>
        <div class="row">
          <div class="label"></div>
          <div class="control"><input name="" value="{% trans %}Send{% endtrans %}" type="submit" /></div>
        </div>
      </form>
    </div>
  </div>
</div>

{% if comments %}
<div class="user_comment">
{% autoescape false %}
{{ comments }}
{% endautoescape %}
</div>
{% endif %}

<div class="navbuttons">
  <div class="navbuttonsshell">
    {%- if prev %}
    <a id="previcon" href="{{ url_for('GalleryDetailView:get', gallery=gallery.folder_name, photo=prev.filename) }}?exif_style=&show_thumbs={%- if thumbs %}yes{% endif %}" accesskey="p">&lt; {% trans %}<span class="accesskey">P</span>revious{% endtrans %}</a>
    {% endif %}
    &nbsp;
    {%- if next %}
    <a id="nexticon" href="{{ url_for('GalleryDetailView:get', gallery=gallery.folder_name, photo=next.filename) }}?exif_style=&show_thumbs={%- if thumbs %}yes{% endif %}" accesskey="n">{% trans %}<span class="accesskey">N</span>ext{% endtrans %} &gt;</a>
    {% endif %}
  </div>
</div>

{% endblock %}
