{% extends "base.html" %}

{% block content %}
<div class="navigation">
  <a href="./">{% trans %}Photo Gallery Index{% endtrans %}</a> &gt; <a href="?galerie={{ gallery.folder_name }}">{{ gallery.name }}</a> &gt; Photo {{ current.index }}
</div>

<!-- thumbroll -->
<div class="thumbroll">
  {% if thumbs %}
  <a id="minus" href="?galerie={{ gallery.folder_name }}&photo={{ current.index }}"></a> :
  {% for thumb in thumbs %}
  <a href="?galerie={{ gallery.folder_name }}&photo={{ thumb.index }}&show_thumbs=yes" title="Photo">
    <img class="thumb" src="../galleries/{{ thumb.thumb }}" alt="photo No. {{ thumb.index }}"
    {%- if thumb.orientation == "portrait" %}
    width="13" height="20"
    {% else %}
    width="20" height="13"
    {% endif %} /></a>
{% endfor %}
{% else %}
  <a id="plus" href="?galerie={{ gallery.folder_name }}&photo={{ current.index }}&show_thumbs=yes" title="Show Thumbnail Navigation"></a>
{% endif %}
</div>

<div id="image" style="height: {{ current.height + 10 }}px">
  <img id="preview" height="{{ current.height }}" width="{{ current.width }}" alt="" src="../galleries/{{ current.lq }}" />

  {% if prev %}
  <div class="prevthumb">
    <a href="?galerie={{ gallery.folder_name }}&photo={{ prev.index }}">
      {% if prev.orientation == "portrait" %}
      <img height="80" width="53" src="../galleries/{{ prev.thumb }}" alt="Previous"/>
      {% else %}
      <img height="53" width="80" src="../galleries/{{ prev.thumb }}" alt="Previous"/>
      {% endif %}
      <br />
      Previous
    </a>
  </div>
  {% endif %}

  {% if next %}
  <div class="nextthumb">
    <a href="?galerie={{ gallery.folder_name }}&photo={{ next.index }}">
      {% if next.orientation == "portrait" %}
      <img height="80" width="53" src="../galleries/{{ next.thumb }}" alt="Next"/>
      {% else %}
      <img height="53" width="80" src="../galleries/{{ next.thumb }}" alt="Next"/>
      {% endif %}
      <br />
      Next
    </a>
  </div>
  {% endif %}
</div>

<div class="comment">
  <span>Photo {{ current.index }}</span>
  <div id="log">
    {% trans views=current.views %}This image has been viewed <strong>{{ views }}</strong> times.{% endtrans %}
  </div>

  {% if current.mq or current.hq %}
  <div id="mqhq">
    {% if current.mq %}
    <a href="../galleries/{{ current.mq }}">MQ</a>
    {% endif %}
    {% if current.hq %}
    <a href="../galleries/{{ current.hq }}">HQ</a>
    {% endif %}
  </div>
  {% endif %}

  <div id="comment_block">
    <div id="showhideform">
      <strong>{% trans %}Post a Comment{% endtrans %}</strong>:
      <span class="comment_toggle">
        [&nbsp;
        <a href="javascript:toggle_comment()">
          <span id="showlink" style="">{% trans %}Show Form{% endtrans %}</span>
          <span id="hidelink" style="display: none;">{% trans %}Hide Form{% endtrans %}</span></a>
        &nbsp;]
      </span>
    </div>

    <div id="comment_form" style="display: none;">
      <form action="" method="post">
        <div class="row">
          <div class="label"><a title="Enter your name." href="#">{% trans %}Name:{% endtrans %}</a></div>
          <div class="control"><input size="30" name="commentname" value="" type="text" /></div>
        </div>
        <div class="row">
          <div class="label"><a title="Should the browser remember your name?" href="#">{% trans %}Remember Name:{% endtrans %}</a></div>
          <div class="control"><input name="savecommentname" value="1" checked="checked" type="checkbox" /></div>
        </div>
        <div class="row"><div class="control">{{ antispam.code }}</div></div>
        <div class="row">
          <div class="label"></div>
          <div class="control"><input name="commentkolacek" value="{{ antispam.checksum }}" type="hidden" /></div>
        </div>
        <div class="row">
          <div class="label"><a title="Enter the number shown above." href="#">{% trans %}Retype PIN Above:{% endtrans %}</a></div>
          <div class="control"><input size="30" name="commentspamcheck" value="" type="text" /></div>
        </div>
        <div class="row">
          <div class="label"><a title="Allowed HTML tags: a,b,i,ul,li,blockquote,br." href="#">{% trans %}Comment :{% endtrans %}</a></div>
          <div class="control"><textarea name="commentdata" cols="40" rows="10"></textarea></div>
        </div>
        <div class="row">
          <div class="label"></div>
          <div class="control"><input name="" value="{% trans %}Send{% endtrans %}" type="submit" /></div>
        </div>
      </form>
    </div>
  </div>
</div>

{% if comments %}
<div class="user_comment">
{% autoescape false %}
{{ comments }}
{% endautoescape %}
</div>
{% endif %}

<div class="navbuttons">
  <div class="navbuttonsshell">
    {%- if prev %}
    <a id="previcon" href="?galerie={{ gallery.folder_name }}&photo={{ prev.index }}exif_style=&amp;show_thumbs={%- if thumbs %}yes{% endif %}" accesskey="p">&lt; {% trans %}<span class="accesskey">P</span>revious{% endtrans %}</a>
    {% endif %}
    &nbsp;
    {%- if next %}
    <a id="nexticon" href="?galerie={{ gallery.folder_name }}&photo={{ next.index }}&exif_style=&show_thumbs={%- if thumbs %}yes{% endif %}" accesskey="n">{% trans %}<span class="accesskey">N</span>ext{% endtrans %} &gt;</a>
    {% endif %}
  </div>
</div>

{% endblock %}
