{% extends "base.html" %}

{% block content %}

<div class="navigation"><a href="./">Photo Gallery Index</a></div>

<!-- listing galleries-->

{% for year, year_group in galleries|groupby('date.year')|sort(reverse=True) %}

<div class="year"><h3>{{ year }}</h3>
 {% for month, list in year_group|groupby('date.month')|sort(reverse=True) %}
  <div class="month"><h4>{{ month }}</h4>

    {% for pellicule in list %}
    {% if 'restricted_user' in pellicule %}
    <p class="restricted">
    {% else %}
    <p>
    {% endif %}
      <a href='?galerie={{ pellicule.folder_name }}'>{{ pellicule.name }}</a>
      <span class="author">by {{ pellicule.author }}</span>
      <span class="date">{{ pellicule.date }}</span>
    </p>
    {% endfor %}

  </div>
  {% endfor %}

</div>

{% endfor %}

{% endblock %}
